@media (min-width: 768px) and (max-width: 1023px) {
    body {
        max-width: 800px;
    }    

    section {
        min-width: 100%;
    }

    #header {
        padding: auto 10%;
    }

    .imagen-personal {
        min-width: 20%;
        max-width: 25%;
        height: auto;
    }
}